<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}
			Registrace uživatelů
			{{ form(user_form) }}
			{{ form(show_all_form) }}
			<ul>
			{% if show_all %}
				Zobrazit všechny uživatele
				{% for user in users %}
					<li> {{ user.name }} | {{ user.email }} |
					{% if user.permissions == 1 %}
						Admin
					{% else %}
						Uživatel
					{% endif %} |
					{{ user.password }}
					</li>
				{% else %}
					<li><em> Nenalezen žádný uživatel </em></li>
				{% endfor %}
			{% endif %}
			</ul>
		{% endblock %}
    </body>
</html>
